<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='C:\Users\Mione\Documents\Visual Studio 2013\Projects\Belatrix\BelatrixLogger\DataBase\BelatrixLogger.mdf';Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  <appSettings> 
    <add key="LogFileDirectory" value="LogFileDirectory" />
    <add key="FileNameFormat" value="{0}LogFile{1}.txt" />
    <add key="LogMessageFormat" value="{0} {1}" />
  </appSettings>
</configuration>